body{
    background: linear-gradient(to right, #61c4f5 0%, #ff9ed7 59%);
}
.title{
    color: #FDD8EE;
    background: linear-gradient(to right, #0085c7 0%, #ec46a7 59%);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.examZone{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.examTitle{
    font-weight: bold;
    font-size: 20px;
}
.examRequirement{
    font-size: 18px;
    font-weight: bold;
}
.marginLeft20px{
    margin-left: 20px;
}
.paddingLeft20px{
    padding-left: 20px;
}
.imageFrame300{
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
}
.textAlignCenter{
    text-align: center;
}
.note__Frame{
    background: aquamarine;
    width: 400px;
    border-radius: 15px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.note__Input{
    background-color: aquamarine;
}
.note__Item{
    background-color: white;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 5px;
}
.note__Button{
    width: 50px;
    height: 30px;
    border-radius: 5px;
    background-color: aquamarine;
    border-color: cadetblue;
    border-width: 2px;
    outline: none;
}