<html>
    <head>
        <meta charset="utf-8">
        <script src="library/react.development.js"></script>
        <script src="library/react-dom.development.js"></script>
        <script src="library/babel.min.js"></script>
        <script src="library/jquery.js"></script>
        <link href="style/home-style.css" rel="stylesheet" type="text/css">
        <title> Trang chủ</title>
    </head>
    <body>
        <h1 class="title">Các ví dụ đơn giản về ReactJS</h1>
        
        <!-- EXAMPLE 01 -->
        <div class="examZone">
            <p class="examTitle">Example 1: Tạo 1 button có text dạng "Click {number}"</p>
            <p class="examRequirement">
                + Khi click vào, number tăng lên 1 đơn vị
            </p>
            <br>
            <hr>
            <div id = "exam1"></div>
            <script src="examples/exam1.js" type="text/babel"></script>
        </div>

        <!-- EXAMPLE 02 -->
        <div class="examZone">
            <p class="examTitle">Example 2: Tạo 3 đối tượng gồm:</p>
            <p class="examRequirement">+ Đối tượng hiển thị hình ảnh</p>
            <p class="examRequirement">+ Nút nhấn để chuyển sang ảnh khác</p>
            <p class="examRequirement">+ Nút nhấn để quay về ảnh cũ</p>
            <br>
            <hr>
            <div id = "exam2"></div>
            <script src="examples/exam2.js" type="text/babel"></script>
        </div>

        <!-- EXAMPLE 03 -->
        <div class="examZone">
            <p class="examTitle">Example 3: Tạo 1 đối tượng:</p>
            <p class="examRequirement">+ Đối tượng hiển thị hình ảnh</p>
            <p class="examRequirement">+ Sau mỗi 1s tự chuyển sang ảnh khác</p>
            <br>
            <hr>
            <div id = "exam3"></div>
            <script src="examples/exam3.js" type="text/babel"></script>
        </div>

        <!-- EXAMPLE 04 -->
        <div class="examZone">
            <p class="examTitle">Example 4: Tạo 1 danh sách đối tượng, mỗi đối tượng yêu cầu:</p>
            <p class="examRequirement">+ Hiển thị hình ảnh</p>
            <p class="examRequirement">+ Hiển thị nội dung của hình</p>
            <br>
            <hr>
            <div id = "exam4"></div>
            <script src="examples/exam4.js" type="text/babel"></script>
        </div>

        <!-- EXAMPLE 05 -->
        <div class="examZone">
            <p class="examTitle">Example 4: Tạo 1 danh sách đối tượng, mỗi đối tượng yêu cầu:</p>
            <p class="examRequirement">+ Hiển thị hình ảnh</p>
            <p class="examRequirement">+ Hiển thị nội dung của hình</p>
            <br>
            <hr>
            <div id = "exam5"></div>
            <script src="examples/exam5.js" type="text/babel"></script>
        </div>
    </body>
    <footer>

    </footer>
</html>